
body {
    height: 100vh;
    width: 100wv;
    background: linear-gradient(to right, #283048, #859398);
    text-align: center;
    padding: 1em 0;
    font-family: 'Roboto Condensed', sans-serif;
    overflow: hidden;

}

.container {
    width: 60vw;
    margin: 0 auto;
}

.titulo {
    margin: 0 0 1em;
    color: #FFFFFF;
    font-size: 1.5em;
    letter-spacing: 3px;
}

.area-resposta {
    display: inline-block;
    width: max-content;
    margin: 1em auto;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 1em;
    color: #FFFFFF;
    display: none;
}

#chute {
    border: none;
    width: 200px;
    border-radius: 6px;
    border-bottom: 0.1rem solid #279788;
    border-top: 1px solid #279788;
    color: #000;
    font-size: 1.05rem;
    font-weight: 700;
    padding: 0.2em;
    text-align: center;
}

#chute::placeholder {
    text-align: center;
}

.bntEnviar {
    height: 30px;
    border: 3px solid #61ba82;
    border-radius: 6px;
    color: #277a6f;
    font-size: 1.05rem;
    font-weight: 700;
}

.bntEnviar:active {
    border-color: #38E54D;
    color: #38E54D;
    filter: drop-shadow(0 0 12px #00FFC6)
}

.chutes-registrados {
    list-style: none;
    margin: 0;
    padding: 0;
}

.chutes-registrados li {
    display: flex;
    margin-bottom: 0.5em;
    justify-content: center;
    gap: 2px;
}

.chutes-registrados span {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 6px;
    line-height: 30px;
    color: #FFFF;
    background: #282324;
}

.chutes-registrados .letra-certa {
    background: #279788;
}

.chutes-registrados span {
    width: 50px;
}

.chutes-registrados .letra-existe {
    background: #CF9F62;
}

#recomecar {
    display: none;
    margin: 10px 0 0;
    border: 3px double #000;
    border-radius: 10px;
    cursor: pointer;
    color: #FFFF;
    background: #279788;
    font-size: 1.1rem;
}

#recomecar:active {
    border-color: #38E54D;
    color: #38E54D;
    filter: drop-shadow(0rem -0.2rem 3px #00FFC6);
}

@media (min-width: 1180px) {
    body {
        width: 90vw;
        margin: 0 5vw;
        font-size: 20px;
    }

}

@media (max-width: 455px) {

    .bntEnviar {
        width: 40%;
        margin-top: 30px;
    }
}