html {
    height: 100vh;
}

body {
    background: linear-gradient(to right, #bdc3c7, #2c3e50);
    width: 90vw;
    margin: 0 auto;
    text-align: center;
    padding: 3em 0;
    height: 100vh;
}

.titulo {
    color: #FFFFFF;
    font-family: 'Orbitron', sans-serif;  
    font-size: 1.5em;
    text-shadow: 2px 2px 3px #2c3e50;
    margin: 0 0 1em;
}

.area-resposta {
    background: #009AFE;
    width: 80%;
    display: inline-block;
    border-radius: 8px;
    padding: 0.5em 1em;
    color: #FFFFFF;
    margin: 1em 0;
    display: none;
}

#resposta {
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 2px 3px black;
}

.chutes-registrados {
    list-style: none;
    margin: 0;
    padding: 0;
}

.chutes-registrados li {
    display: flex;
    gap: 2px;
    justify-content: center;
    margin-bottom: 0.5em;
}

.chutes-registrados span {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #282324;
    color: #FFFFFF;
    border-radius: 6px;
    line-height: 30px;
}

.chutes-registrados .letra-certa {
    background: #279788;
}

.chutes-registrados .letra-existe {
    background: #CF9F62;
}

#recomecar {
    display: none;
    border: none;
    border-radius: 5px;
    margin: 10px 0;
    cursor: pointer;
    
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
    color: black;
    box-shadow: 1px 1px 5px black;
}

#chance, #tentativaAtual {
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    text-shadow: 2px 2px 3px black;
}

#tentativa {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

#tentativa #chute {
    width: 230px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
    font-family: 'Poppins', sans-serif;
}

input::placeholder {
    text-align: center;
}

#submit {
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    background-color: #425d79;
    color: #FFFFFF;
    box-shadow: 1px 1px 5px #FFFFFF;
}

@media (min-width: 768px) {
    body {
        width: 90vw;
        margin: 0 5vw;
        font-size: 20px;
    }

    .area-resposta {
        width: 60%;
    }
}

@media (min-width: 1024px) {
    .area-resposta {
        width: 40%;
    }
}