body {
    background: #777777;
    font-family: sans-serif;
    width: 60vw;
    margin: 0 20vw;
    text-align: center;
    padding: 1em 0;
}

.titulo {
    color: #FFFFFF;
    font-size: 1.5em;
    margin: 0 0 2em;
}

.area-resposta {
    background: #009AFE;
    width: 80%;
    display: inline-block;
    border-radius: 8px;
    padding: 0.5em 0;
    color: #FFFFFF;
    margin: 1em 0;
    display: none;
}


.chutes-registrados {
    list-style: none;
    margin: 0;
    padding: 0;
}

.chutes-registrados li {
    display: flex;
    gap: 2px;
    justify-content: center;
    margin-bottom: 0.5em;
}

.chutes-registrados span {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #282324;
    color: #FFFFFF;
    border-radius: 6px;
    line-height: 30px;
}

.chutes-registrados .letra-certa {
    background: #279788;
}

.chutes-registrados .letra-existe {
    background: #CF9F62;
}

#recomecar {
    display: none;
}